.product__container {
  margin-right: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  padding-top: 100px;
}

.product__rating {
  display: flex;
  margin-top: -20px;
}

.product > img {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 0 15px;
}

.product > button {
  background: #6e441e;
  border: 1.5px solid;
  margin-top: 10px;
  border-radius: 5px;
  border-color: #6e441e #915929 #c57734; 
  color: whitesmoke;
  font-weight: 550;
}

button:hover {
  cursor: pointer;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.product__price {
  margin-top: -10px;
}

.product__info {
  height: 100px;
  margin-bottom: 1px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}